*, body, html {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
/* Navigation */
.header-nav {
  background-color: #F1F3FF;
  transition: top .3s;
}
.wrapper-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo-nav {
  width: 100px;
  height: 34px;
  background-color: #0D28A6;
}
.header-nav .nav-pills .nav-item .nav-link {
  color: #000000 !important;
  line-height: 1.25;
  font-size: .875em;
}
.btn-sidebar-menu {
  font-size: 18px;
  padding: 2px 12px;
  color: #000000;
  width: max-content;
}
.btn-sidebar-menu:focus,
.btn-close-sidebar:focus {
  border: 1px solid transparent !important;
}
/* Sidebar */
.sidebar-menu-nav {
  width: 200px !important;
}
.sidebar-menu-nav .offcanvas-header {
  padding-top: 38px;
  padding-bottom: 18px;
}
.sidebar-menu-nav .btn-close {
  color: #000000;
  font-size: 1.5rem;
}
.btn-close-sidebar {
  padding: 0 14px;
}
.list-sidebar-menu .list-group-item {
  border: none !important;
}
.list-sidebar-menu .list-group-item:first-child {
  padding-top: 0;
}
.list-sidebar-menu .list-group-item:last-child {
  padding-bottom: 0;
}
.link-sidebar-menu {
  font-size: 14px;
  line-height: 1.25;
}
.link-sidebar-menu,
.link-sidebar-menu:hover {
  color: #000000;
  text-decoration: none;
}
/* Footer */
.wrap-icon {
  background-color: #0D28A6;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
}
.image-icon {
  margin-top: 2px;
}

@media only screen and (max-width: 767.5px) {
  /* Header */
  .container-custom.nav-custom {
    max-width: 100% !important;
  }
  /* Footer */
  .container-custom.footer-custom {
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 575px) {
  /* Footer */
  .footer-component {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 576px) {
  /* Footer */
  .footer-component {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 992px) {
  /* Footer */
  .footer-component {
    margin-bottom: 100px;
  }
}