/* Banner */
.section-banner {
  background-color: #F1F3FF;
}
.wrapper-banner {
  display: grid;
  align-items: center; 
}
.grid-item.item-1 {
  max-width: 568px;
}
.grid-item.item-2 {
  height: 100%;
}
.judul {
  color: #000000;
  font-size: 36px;
  line-height: 54px;
}
.deskripsi { 
  color: #000000;
  font-size: 14px;
  line-height: 1.5
}
.wrapper-mobil {
  height: max-content;
}
.mobil {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.wrapper-banner button {
  color: #ffffff;
  font-size: 14px;
  border: none;
  background-color: #5CB85F;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 2px;
}
/* Layanan */
.title-layanan{
  font-size: 24px;
  line-height: 36px;
}
.caption-layanan{
  font-size: 14px;
  line-height: 20px;
}
.list-layanan{
  list-style: none;
}
.list-item img{
  width: 24px;
  height: 24px;
}
.list-item{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.list-item span{
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
/* Why Us */
.why-us-content.item-1{
  display: grid;
}
.title-why-us{
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
}
.subtitle-why-us{
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.why-us-list-item{
  max-height: 300px;
  height: 100%;
  gap: 1rem;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
}
.why-us-title-content{
  font-size: 16px;
  line-height: 24px;
}
.why-us-info-content{
  font-size: 14px;
  line-height: 20px;
}
/* Testimonial */
.testimonial-container{
  display: grid;
}
.list-testimonial {
  cursor: grab;
}
.list-testimonial.active {
  cursor: grabbing;
}
.list-testimonial::-webkit-scrollbar {
  display: none;
}
.title-testimonial{
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
}
.subtitle-testimonial{
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.wrapper-slide-testimonial {
  gap: 32px;
}
.list-card-testimonial{
  align-items: center;
  background-color: #F1F3FF;
  padding: 40px 32px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.photo-profile{
  width: 80px;
  height: 80px;
}
.rate{
  display: flex;
  align-items: self-end;
  width: 80px;
}
.testimoni-caption{
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.testimoni-user{
  font-style: italic;
  font-size: 14px;
}
.testimoni-button{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.btn-slider{
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.btn-slider:hover{
  border: 1px solid #c4c4c4;
}
.btn-slider.active{
  background-color: #15bc3f;
  color: rgb(255, 255, 255);
  border: 1px solid #15bc3f;
}
.btn-slider.active:hover{
  border: 1px solid #15bc3f;
}
/* Sewa Section */
.rent-now {
  text-align: center;
}
.bg-rent {
  width: 100%;
  background: #0D28A6;
  border-radius: 13px;
  padding: 64px 58px;
}
.rent-title {
  color: #ffffff;
}
.rent-info {
  color: #ffffff;
  line-height: 20px;
  font-size: 14px;
}
.btn-sewa {
  font-size: 14px;
  border: none;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 2px;
}
.btn-sewa,
.btn-sewa:hover {
  color: #ffffff;
  background-color: #5CB85F;
}
.btn-sewa:focus {
  color: #ffffff !important;
  background-color: #5CB85F !important;
}
/* FAQ */
.title-section {
  font-size: 24px;
  line-height: 36px;
}
.subtitle-section {
  font-size: 14px;
  line-height: 20px;
}
.wrapper-faq {
  display: grid;
  gap: 1rem;
}
.accordion-custom {
  padding-bottom: 1rem;
}
.accordion-custom:last-child {
  padding-bottom: 0;
}
.button-item-custom::after {
  background-image: none !important;
  content: "\f107" !important;
  width: max-content !important;
  height: max-content !important;
  font-family: "FontAwesome";
  text-align: center;
  color: #000000;
}
.button-item-custom {
  font-size: 14px;
  line-height: 20px;
  padding: 18px 30px 18px 24px;
}
.button-item-custom:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}
.accordion-button:not(.collapsed) {
  color: #0D28A6;
}

@media only screen and (max-width: 575px) {
  /* Banner */
  .wrapper-banner {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  /* Layanan */
  .section-layanan {
    margin-top: 60px;
  }
  .img-person{
    width: 252px;
    height: 228px;
  }
  /* Why Us */
  .section-why-us {
    margin-top: 32px;
  }
  /* Testimonial */
  .section-testimonial {
    margin-top: 60px;
  }
  .list-testimonial{
    margin-top: 16px;
  }
  .list-card-testimonial {
    width: 328px;
  }
  .rate{
    width: 80px;
  }
  /* Sewa Section */
  .section-rent-now {
    margin-top: 60px;
  }
  .rent-title {
    font-size: 24px;
    line-height: 36px;
  }
  .wrapper-btn {
    margin-top: 32px;
  }
  /* FAQ */
  .section-faq {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .wrapper-faq {
    grid-template-columns: 1fr;
  }
  .wrapper-subtitle-faq {
    max-width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  /* Banner */
  .wrapper-banner {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  /* Layanan */
  .section-layanan {
    margin-top: 60px;
  }
  .img-person{
    width: 252px;
    height: 228px;
  }
  /* Why Us */
  .section-why-us {
    margin-top: 32px;
  }
  /* Testimonial */
  .section-testimonial {
    margin-top: 60px;
  }
  .list-testimonial{
    margin-top: 16px;
  }
  .list-card-testimonial {
    width: 328px;
  }
  .rate{
    width: 80px;
  }
  /* Sewa Section */
  .section-rent-now {
    margin-top: 100px;
  }
  .rent-title {
    font-size: 24px;
    line-height: 36px;
  }
  .wrapper-btn {
    margin-top: 32px;
  }
  /* FAQ */
  .section-faq {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .wrapper-faq {
    grid-template-columns: 1fr;
  }
  .wrapper-subtitle-faq {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* Layanan */
  .img-person{
    width: 459px;
    height: 428px;
  }
  .list-item img{
    width: 24px;
    height: 24px;
    margin: none;
  }
  .list-item{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  /* Testimonial */
  .list-card-testimonial {
    width: 619px;
  }
  /* Sewa Section */
  .rent-title {
    font-size: 36px;
    line-height: 54px;
  }
  .wrapper-btn {
    margin-top: 52px;
  }
  /* FAQ */
  .wrapper-faq {
    grid-template-columns: .75fr 1fr;
  }
  .wrapper-subtitle-faq {
    max-width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  /* Banner */
  .wrapper-banner {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  /* Layanan */
  .section-layanan {
    margin-top: 104px;
  }
  .card-layanan.item-2 {
    max-width: 468px;
  }
  /* Why Us */
  .section-why-us {
    margin-top: 100px;
  }
  /* Testimonial */
  .section-testimonial {
    margin-top: 100px;
  }
  .list-testimonial{
    margin-top: 40px;
  }
  /* Sewa Section */
  .section-rent-now {
    margin-top: 100px;
  }
  .wrapper-rent-info {
    max-width: 468px;
  }
  /* FAQ */
  .section-faq {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-custom {
    max-width: 1168px !important;
  }
  /* Banner */
  .grid-item.item-1 {
    margin-left: auto;
  }
  /* Layanan */
  .card-layanan.item-1 {
    padding-left: 71px;
  }
  .card-layanan.item-2 {
    padding-right: 71px;
  }
}